# Python Lesson 3 Practice Assignment

1. Create a dictionary where the keys are the names of months and the values are the number of days in that month. Allow a user to enter the name of a month and print the number of days in that month. Create appropriate prompts and print statements so the user knows what to do and can interpret the response.

In [7]:
months_dict = {'January': 31, 'February': '28 or 29' , 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 'November': 30, 'December': 31}

user_month = input("Enter the month you'd like to know the number of days in: ")

print(user_month, 'has', months_dict[user_month], 'days in it.')

February has 28 or 29 days in it.

2. Using the statement that creates the dictionary that is a catolog of items (below), create another dictionary with exactly the same items and keys, but for which the values are prices as decimal numbers. Let the user type in a catalog number, then print the name of the item and its price. Prepend a dollar sign `$` to the price before printing, but don’t include the dollar sign in the dictionary.

In [10]:
catalog = {'1008':'widget', '2149':'flange', '19x5':'smoke shifter', '992':'poiuyt'}

catalog_price = {'widget':1008.00, 'flange': 2149.00, 'smoke shifter': 19.95, 'poiuyt': 992.00}

user_item = input("Enter a catalog number: ")

print('The price of', catalog[user_item], 'is', '$',catalog_price[catalog[user_item]])

The price of widget is $ 1008.0

3. Modify the last program to convert the price of the selected item to euros (you may need to look up the exchange rate). Add an additional statement to print the price in euros, prepending the Unicode string for the euro sign (`\u20AC`) to the numeric price. Make the print statement work so that there is no space between the euro sign and the price.

In [12]:
user_item = input("Enter a catalog number: ")
catalog_price_euro = catalog_price[catalog[user_item]] * 0.89
print('The price of', catalog[user_item], 'in euros is', '\u20AC',catalog_price_euro)

The price of widget in euros is € 897.12

4. Convert the catalog dictionary in problem 2 to a pandas Series. Using `.loc`, print the name of the item with catalog number `19x5`. Then, using `.iloc`, print the name of the second item in the list.

In [16]:
import pandas as pd

catalog_series = pd.Series(catalog)

print(catalog_series.loc['19x5'])

print(catalog_series.iloc[1])

smoke shifter
flange

5. Convert the two dictionaries in problem 2 to a pandas DataFrame using `pd.DataFrame`. Display the DataFrame below the cell in tabular form.

In [26]:
num_series = pd.Series({'1008': 'widget', '2149': 'flange', '19x5': 'smoke shifter', '992': 'poiuyt'})

price_series = pd.Series({'1008':1008.00, '2149': 2149.00, '19x5': 19.95, '992': 992.00})

catalog_dict = {'product': num_series, 'price': price_series}

catalog_df = pd.DataFrame(catalog_dict)

catalog_df

            product    price
1008         widget  1008.00
2149         flange  2149.00
19x5  smoke shifter    19.95
992          poiuyt   992.00

6. Using the DataFrame you just created, print the Series for the price column. Then print the Series for the catalog number 2149 row.

In [30]:
print(catalog_df['price'])

print(catalog_df.iloc[1])

1008    1008.00
2149    2149.00
19x5      19.95
992      992.00
Name: price, dtype: float64
product    flange
price      2149.0
Name: 2149, dtype: object

7. The second line of code below reads in a CSV containing climate data: the average precipitation and temperature for months the year 1879 in Mesa, Arizona. Display the first 6 rows of the DataFrame below the cell in tabular form. 

In the following code cell, print the following:
- the data for March 1879 (as a Series).
- the average temperture for July 1879.

In [31]:
import pandas as pd
climate = pd.read_csv('https://github.com/HeardLibrary/digital-scholarship/raw/master/data/codegraf/mesa_climate.csv')

# Set the row index to be the 'month' column
climate = climate.set_index('month')

climate.head(6)

        ppt  tavg
month
Jan    92.8  12.1
Feb    19.1  10.1
Mar    18.2  11.8
Apr     0.0  19.2
May     4.1  25.0
Jun     0.0  28.1

In [33]:
print(climate.loc['Mar'])

print(climate['tavg'])

ppt     18.2
tavg    11.8
Name: Mar, dtype: float64
month
Jan    12.1
Feb    10.1
Mar    11.8
Apr    19.2
May    25.0
Jun    28.1
Jul    32.4
Aug    32.2
Sep    28.2
Oct    19.5
Nov    14.5
Dec     8.7
Name: tavg, dtype: float64

8. Create a list that contains the names of the days of the week. Using a `for` loop, print the days of the week.

9. Using a `for` loop and the `.iterrows` method, print the month abbreviation and average temperature in Mesa for each month in 1879 together on the same line. (Remember that the month abbreviation is now the index for the row.) To make the output clearer, print a header explaining what the columns are before you print the values.

10. Create a variable called `sum` and set its value to zero. Create a `for` loop that steps through each month and adds the precipitation value for each month to the `sum` variable. Recall that

```
sum += number
```

is a shortcut for

```
sum = sum + number
```

After you add up all of the values, print the value of the average precipitation for all months of the year. (Don't worry about weighting the monthly values by the length of the month.)

11. Because pandas is designed for vectorized operations, there is an easier way to find the average precipitation for all of the months. Simply append the `.mean()` method to the precipitation column of the DataFrame. (The mean method does not require any arguments.) Print the result. Is it the same as what you got using the `for` loop?